<template>
    <div class="container" id="rout">
        <br /><br /><br />
        <div>
            <div v-if="edit">
                <h1>Izmeni podatke o brendu:</h1>
            </div>
            <div v-else>
                <h1>Dodaj brend:</h1>
            </div>
            <form @submit.prevent="addBrand">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="brand.brand">

                        </div>

                    </div>
                </div>
                <br />
                <div class="form-group" v-if="edit">
                    <button class="site-btn place-btn">Izmeni</button>
					<button class="site-btn place-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
                </div>
                <div class="form-group" v-else>

                    <button class="site-btn place-btn">Kreiraj</button>

                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brend</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="brand in brands" :key="brand.id">
                    <td>{{ brand.id }}</td>
                    <td>{{ brand.brand }}</td>
                    <td>
                        <button class="p-btn" @click.prevent="editBrand(brand)">Edit</button>
                        <button class="p-btn" @click.prevent="deleteBrand(brand.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
    export default {
      data() {
          return {
         //   isLoggedIn : null,
            brands: [],
          brand:{
          id: '',
          brand: ''
          },
            brand_id: '',

          edit: false

        }
        },
        mounted() {
         //     this.isLoggedIn = localStorage.getItem('shop.mdi.in.rs.jwt') != null;
        },
      created() {
          this.allBrands();

    },
    methods: {
      allBrands()  {
        let uri = '/api/brands';

      this.axios.get(uri).then(response => {
        this.brands = response.data;
      });
    },
	stopEdit(){
		this.edit = false;
		},
      deleteBrand(id)
      {
            const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Da li ste sigurni ?',
                      text: "Želite da obrišete ovaj brend!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Da, obriši ga!' ,
                      cancelButtonText: 'Ne!',
                      reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                       let uri = `/api/brands/delete/${id}`;
                    this.axios.delete(uri,  {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                        }
                    }).then(response => {

                                swalWithBootstrapButtons.fire(
                                    'Obrisan!',
                                    'Brend je obrisan.',
                                    'success'
                                )
                              this.clearForm();             
                              this.allBrands();
                            })
                            }
                         else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Otkazano',
                          'Brend je i dalje aktivan',
                          'info'
                        )
                      }
                    })
              
     
        },
        addBrand(){
            if (this.edit === false) {
              let uri = '/api/brands/create';
              this.axios.post(uri, this.brand).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Novi brend dodat!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.allBrands();

            });
           } else {
            // update brands
             let uri = `/api/brands/update/${this.brand.id}`;
             this.axios.post(uri, this.brand).then((response) => {
             this.clearForm();
             Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Podaci o brendu su izmenjeni!',
                              showConfirmButton: false,
                              timer: 1500
                            })
             this.allBrands();
             });
           }
        },
        editBrand(brand){
        this.edit = true;
        this.brand.id = brand.id;
        this.brand.brand_id = brand.brand_id;
        this.brand.brand = brand.brand;

        },
        clearForm(){
        this.edit = false;
        this.brand.id = null;
        this.brand.brand_id = null;
        this.brand.brand = null;
        
       }

    }
  }</script>
