<template>
    <div class="container" id="rout">
        <br /><br /><br />
        <div>
            <div v-if="edit">
                <h1>Update coupon:</h1>
            </div>
            <div v-else>
                <h1>Add Coupon:</h1>
            </div>
            <form @submit.prevent="add">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            Name: <input type="text" class="form-control" v-model="coupon.coupon">
                        </div>
						<div class="form-group">
                            Amount: <input type="number" class="form-control" v-model="coupon.amount">
                        </div>
						<div class="form-group">
                            Percent: <input type="number" class="form-control" v-model="coupon.percent">
                        </div>
						<div>
							<label for="example-datepicker">Valid Until:</label>
							<b-form-datepicker id="example-datepicker" v-model="coupon.valid_until" class="mb-2" placeholder="Choose a date" local="en"></b-form-datepicker>
                            <p class="mb-1" v-if="edit">Valid Until: '{{ coupon.valid_until }}'</p>							
					    </div>

                    </div>
                </div>
                <br />
                <div class="form-group" v-if="edit">
                    <button class="site-btn place-btn">Izmeni</button>
					<button class="site-btn place-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
                </div>
                <div class="form-group" v-else>

                    <button class="site-btn place-btn">Kreiraj</button>                    
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Coupon</th>
					<th>Valid Until</th>
					<th>Amount</th>
					<th>Percent</th>
                    <th>Actions</th>
					<th>Assign to all customers</th>
					<th>Assign to regular customers</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="coupon in coupons" :key="coupon.id">
                    <td>{{ coupon.id }}</td>
                    <td>{{ coupon.coupon }}</td>
					<td>{{ coupon.valid_until }}</td>
					<td>{{ coupon.amount }}</td>
					<td>{{ coupon.percent }}</td>
                    <td>
                        <button class="p-btn" @click.prevent="editCoupon(coupon)">Edit</button>
                        <button class="p-btn" @click.prevent="deleteCoupon(coupon.id)">Delete</button>
                    </td>
					<td>
                        <button class="p-btn" @click.prevent="allCustomers(coupon.id)">Assign</button>          
                    </td>
					<td>
                        <button class="p-btn" @click.prevent="regularCustomers(coupon.id)">Assign</button>          
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
    export default {
      data() {
          return {
         //   isLoggedIn : null,
            coupons: [],
          coupon:{
          id: '',
          coupon: '',
		  valid_until: '',
		  amount: '',
		  percent: ''
          },           
          edit: false

        }
        },
        mounted() {
            //  this.isLoggedIn = localStorage.getItem('shop.mdi.in.rs.jwt') != null;
        },
      created() {
          this.all();

    },
    methods: {
      all()  {
        let uri = '/api/coupons';

      this.axios.get(uri).then(response => {
        this.coupons = response.data;
      });
    },
      deleteCoupon(id)
      {
            const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Da li ste sigurni ?',
                      text: "Želite da obrišete ovaj kupon!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Da, obriši ga!' ,
                      cancelButtonText: 'Ne!',
                      reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                       let uri = `/api/coupons/delete/${id}`;
                    this.axios.delete(uri,  {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                        }
                    }).then(response => {

                                swalWithBootstrapButtons.fire(
                                    'Obrisan!',
                                    'Vaš kupon je obrisan.',
                                    'success'
                                )
                              this.clearForm();             
                              this.all();
                            })
                            }
                         else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Otkazano',
                          'Vaš kupon je i dalje aktivan',
                          'info'
                        )
                      }
                    })
              
     
        },
		allCustomers(id){
		
		   let uri = `/api/coupons/all/${id}`;
		   this.axios.get(uri).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Kupon je dodeljen svim registrovanim kupcima!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.all();
           })
		},
		regularCustomers(id) {
		   let uri = `/api/coupons/regular/${id}`;
		   this.axios.get(uri).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Kupon je dodeljen redovnim kupcima!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.all();
           })
		},
        add(){
            if (this.edit === false) {
              let uri = '/api/coupons/create';
              this.axios.post(uri, this.coupon).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Novi kupon je dodat!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.all();

            });
           } else {
            // update 
             let uri = `/api/coupons/update/${this.coupon.id}`;
             this.axios.post(uri, this.coupon).then((response) => {
             this.clearForm();
             Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Podaci o kuponu su izmenjeni!',
                              showConfirmButton: false,
                              timer: 1500
                            })
             this.all();
             });
           }
        },
        editCoupon(coupon){
        this.edit = true;
        this.coupon.id = coupon.id;        
        this.coupon.coupon = coupon.coupon;
		this.coupon.valid_until = coupon.valid_until;
		this.coupon.amount = coupon.amount;
		this.coupon.percent = coupon.percent;
        },
		stopEdit(){
		this.edit = false;
		},
        clearForm(){
        this.edit = false;
        this.coupon.id = null;       
        this.coupon.coupon = null;
		this.coupon.valid_until = null;
		this.coupon.amount = null;
		this.coupon.percent = null;
        
       }

    }
  }</script>
