<template>

    <!--

        <template>
        <div id="rout">
            <nav class="navbar na navbar-expand-sm  navbar-light bg-light fixed-left">
                <ul class="navbar-nav mr-auto sidebar-nav"
                    v-for="categor in categors">
                    <li v-show="isActive != categor"
                        @click="isActive = categor">
                        <button  class="b-primary">{{categor.kategorija}}</button>
                    </li>
                    <li v-show="isActive == categor">
                        <button @click="kategorijaparent(categor.id)" class="b-primary">{{categor.kategorija}}</button>
                    </li>
                    <ul v-show="isActive == categor"
                        v-for="children in categor.children">
                        <li>
                            <button @click="kategorijachild(children.id)" class="b-primary">{{children.kategorija}}</button>
                        </li>
                    </ul>
                </ul>

            </nav>
            <br /><hr /><br />
                        <b-row>
                            <loading :active.sync="isLoading"
                                     :can-cancel="true"
                                     :on-cancel="onCancel"
                                     :is-full-page="fullPage"></loading>




                            <b-col lg="6" class="my-1">
                                <b-form-group label="Filter"
                                              label-cols-sm="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              label-for="filterInput"
                                              class="mb-0">
                                    <b-input-group size="sm">
                                        <b-form-input v-model="filter"
                                                      type="search"
                                                      id="filterInput"
                                                      placeholder="Type to Search"></b-form-input>
                                        <b-input-group-append>
                                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>

                            <b-col lg="6" class="my-1">
                                <b-form-group label="Filter On"
                                              label-cols-sm="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              description="Leave all unchecked to filter on all data"
                                              class="mb-0">
                                    <b-form-checkbox-group v-model="filterOn" class="mt-1">
                                        <b-form-checkbox value="units">Units</b-form-checkbox>
                                        <b-form-checkbox value="price">Price</b-form-checkbox>

                                    </b-form-checkbox-group>
                                </b-form-group>
                            </b-col>



                        </b-row>
            <br /><hr /><br />
                        <div class="container">
                        <div class="row blog">

                            <b-table small
                                     stacked="xs"
                                     borderless
                                     :items="products"
                                     :fields="fields"
                                     :current-page="currentPage"
                                     :per-page="perPage"
                                     :filter="filter"
                                     :filterIncludedFields="filterOn"
                                     :sort-by.sync="sortBy"
                                     :sort-desc.sync="sortDesc"
                                     :sort-direction="sortDirection"
                                     @filtered="onFiltered">

                                <template v-slot:cell(image)="row">
                                    <div class="col-md-4 cols-12">
                                        <img v-bind="image_size" :src="image_src+row.item.image" fluid alt="Responsive image">

                                        <h5>
                                            <span v-html="row.item.name"></span>
                                            <span class="small-text text-muted float-right">$ {{row.item.price}}</span>
                                        </h5>


                                        <router-link v-bind:to="{name:'single-products', params: {id: row.item.id
                                                                   }}" class="b-primary">Saznaj više</router-link>

                                    </div>
                                </template>

                            </b-table>
                        </div>
                            </div>

            <b-row class="justify-content-md-center">
                <b-col sm="7" md="6">
                    <b-pagination v-model="currentPage"
                                  :total-rows="totalRows"
                                  :per-page="perPage"
                                  align="fill"
                                  size="sm"
                                  class="my-0"></b-pagination>

                </b-col>
            </b-row>
        </div>
    </template>
    <style scoped>

         .naa {
            background-color: lightgray;
            height: auto;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .nav-link:hover {
            color:black !important;
        }
         .box{
             position: relative;
         }

         .box {
        position: relative;
    }

    .na {
        background-color: #FC611F !important;
    }

    .sticky {
        list-style-type: none;
        position: sticky;
        overflow: hidden;
        top: 82px;
        width: 100%;
        z-index: 9999;
    }
         .s {
            text-decoration: none !important;
        }
        .small-text {
            font-size: 14px;
        }

        .product-box {
            border: 1px solid #cccccc;
            padding: 10px 15px;
        }

        .hero-section {
            height: 30vh;
            background: #ababab;
            align-items: center;
            margin-bottom: 20px;
            margin-top: -20px;
        }

        .title {
            font-size: 60px;
            color: #ffffff;
        }
    </style>
    <script>
        import Loading from 'vue-loading-overlay';
        // Import stylesheet
        import 'vue-loading-overlay/dist/vue-loading.css';


        export default {
            data() {
                return {
                    isLoading: false,
                    fullPage: true,
                    isActive: false,
                    image_size: { width: 200, height: 200, class: 'm1' },
                    image_src: '/uploads/products/',
                    image_update: false,
                    category_id: '',
                    products: [],
                    categors: [],

                    product: {
                        id: '',
                        name: '',
                        description: '',
                        categor_id: '',
                        supplier_id: '',
                        units: '',
                        price: '',
                        discount_price: '',
                        image: ''



                    },
                    categor: {
                        id: '',
                        kategorija: '',
                        p_id: ''
                    },
                   children: {
                    id: '',
                    kategorija: '',
                        p_id: '',

                     },
                    editingItem: null,
                    addingProduct: null,
                    fields: [
                    /*	{ key: 'name', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'units', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'price', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'description', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'categor_id', label: '', sortable: false, sortDirection: 'asc' },*/
                        { key: 'image', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'supplier_id', label: '', sortable: false, sortDirection: 'asc' },
                        { key: 'action', label: '', sortable: false }],
                    form: false,
                    product_id: '',
                    pocetak: true,
                    edit: false,
                    totalRows: 1,
                    currentPage: 1,
                    perPage: 5,
                    pageOptions: [5, 10, 15],
                    sortBy: '',
                    sortDesc: false,
                    sortDirection: 'asc',
                    filter: null,
                    filterOn: [],
                }
            },


            filters: {
                truncate: function (content, length, suffix) {
                    return content.substring(0, length) + suffix;
                }
            },
            computed: {


                sortOptions() {
                    // Create an options list from our fields
                    return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return { text: f.label, value: f.key }
                        })
                }
            },
            mounted() {


                // Set the initial number of items
                this.totalRows = this.products.length;
                //	let uri = 'http://www.mdi.in.rs/api/products';
                let uri = 'http://127.0.0.1:8000/api/products';
                axios.get(uri,  {
                            headers: {
                                'Access-Control-Allow-Origin': '*',
                            }
                        }).then(response => {
                    this.products = response.data.product
                            this.categors = response.data.categor
                            this.totalRows = this.products.length;

                })

            },
            components: {
                Loading
            },
            methods: {


                fieldChange(e) {

                    let selectedFile = new FileReader();
                    selectedFile.readAsDataURL(e.target.files[0]);
                    selectedFile.onload = (e) => {
                        this.product.image = e.target.result;
                        this.image_update = true;
                    }
                    console.log(this.product.image);
                },


                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                 kategorijaparent(id) {
                     let parent = "parent"
                     let uri = `http://127.0.0.1:8000/api/products/parent/${id}`;
                    // let uri = `http://www.mdi.in.rs/api/products/parent/${id}`;
                     this.axios.post(uri, { parent },  {
                            headers: {
                                'Access-Control-Allow-Origin': '*',
                            }
                        }).then(response => {
                            this.products = response.data.product
                            this.categors = response.data.categor
                            this.isActive === true

                        });
                },
                 onCancel() {
                  console.log('User cancelled the loader.')
                },
                 kategorijachild(id) {
                     let child = "child"
                        let uri = `http://127.0.0.1:8000/api/products/parent/${id}`;
                     this.axios.post(uri, { child },  {
                            headers: {
                                'Access-Control-Allow-Origin': '*',
                            }
                        }).then(response => {
                            this.products = response.data.product
                            this.categors = response.data.categor


                        });
                 }
            }
        }
    </script>









    {
                name: 'post',
                path: '/post',
                component: () => import('./components/Post/indexPost.vue'),
                meta: {
                    requiresAuth: true
                }
            },
            {
                name: 'postcreate',
                path: '/post/create',
                component: () => import('./components/Post/indexPost.vue'),
                meta: {
                    requiresAuth: true
                }
            },
            {
                name: 'postedit',
                path: '/post/edit/:id',
                component: () => import('./components/Post/indexPost.vue'),
                meta: {
                    requiresAuth: true
                }
            },
            {
                name: 'postupdate',
                path: '/post/update/:id',
                component: () => import('./components/Post/indexPost.vue'),
                meta: {
                    requiresAuth: true
                }
            },
            {
                name: 'postdelete',
                path: '/post/delete/:id',
                component: () => import('./components/Post/indexPost.vue'),
                meta: {
                    requiresAuth: true
                }
            },



            <div class="modal-mask">
              <div class="modal-wrapper">
                  <div class="modal-container">
                      <div class="modal-header">
                          <slot name="header" v-html="data.name"></slot>
                      </div>
                      <div class="modal-body">
                          <slot name="body">
                              Name: <input type="text" v-model="data.name">
                              Units: <input type="text" v-model="data.units">
                              Price: <input type="text" v-model="data.price">
                              <textarea v-model="data.description" placeholder="description"></textarea>
                              <span>
                                  <img :src="data.image" v-show="data.image != null">
                                  <input type="file" id="file" @change="attachFile">
                              </span>
                          </slot>
                      </div>
                      <div class="modal-footer">
                          <slot name="footer">
                              <button class="modal-info-button" @click="uploadFile">
                                  Finish
                              </button>
                          </slot>
                      </div>
                  </div>
              </div>
          </div> -->
</template>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

        .modal-enter .modal-container,
        .modal-leave-active .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
</style>
<script>
    export default {
        props: ['product'],
        data() {
            return {
                attachment: null
            }
        },
        computed: {
            data: function() {
                if (this.product != null) {
                    return this.product
                }
                return {
                    name: "",
                    units: "",
                    price: "",
                    description: "",
                    image: false
                }
            }
        },
        methods: {
            attachFile(event) {
                this.attachment = event.target.files[0];
            },
            uploadFile(event) {
                if (this.attachment != null) {
                    var formData = new FormData();
                    formData.append("image", this.attachment)
                    let headers = {'Content-Type': 'multipart/form-data'}
                    axios.post("/api/upload-file", formData, {headers}).then(response => {
                        this.product.image = response.data
                        this.$emit('close', this.product)
                    })
                } else {
                    this.$emit('close', this.product)
                }
            }
        }
    }
</script>
