<template>
    <div class="container" id="rout">
        <br /><br /><br />
        <div>
            <div v-if="edit">
                <h1>Izmeni podatke o tagu:</h1>
            </div>
            <div v-else>
                <h1>Dodaj tag:</h1>
            </div>
            <form @submit.prevent="add">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="tag.tag">

                        </div>

                    </div>
                </div>
                <br />
                <div class="form-group" v-if="edit">
                    <button class="site-btn place-btn">Izmeni</button>
					<button class="site-btn place-btn" @click.prevent="clearForm()">Povratak na prethodnu stranu</button>
                </div>
                <div class="form-group" v-else>

                    <button class="site-btn place-btn">Kreiraj</button>

                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tag in tags" :key="tag.id">
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.tag }}</td>
                    <td>
                        <button class="p-btn" @click.prevent="editTag(tag)">Edit</button>
                        <button class="p-btn" @click.prevent="deleteTag(tag.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    import 'sweetalert2/src/sweetalert2.scss'
    export default {
      data() {
          return {
       //     isLoggedIn : null,
            tags: [],
          tag:{
          id: '',
          tag: ''
          },
            tag_id: '',

          edit: false

        }
        },
        mounted() {
         //     this.isLoggedIn = localStorage.getItem('shop.in.rs.jwt') != null;
        },
      created() {
          this.all();

    },
    methods: {
	  stopEdit(){
		this.edit = false;
		},
      all()  {
        let uri = '/api/tags';

      this.axios.get(uri).then(response => {
        this.tags = response.data;
      });
    },
      deleteTag(id)
      {
            const swalWithBootstrapButtons = Swal.mixin({
                      customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                      },
                      buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                      title: 'Da li ste sigurni ?',
                      text: "Želite da obrišete ovaj tag!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonText: 'Da, obriši ga!' ,
                      cancelButtonText: 'Ne!',
                      reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                       let uri = `/api/tags/delete/${id}`;
                    this.axios.delete(uri,  {
                        headers: {
                            'Access-Control-Allow-Origin': '*',
                        }
                    }).then(response => {

                                swalWithBootstrapButtons.fire(
                                    'Obrisan!',
                                    'Vaš tag je obrisan.',
                                    'success'
                                )
                              this.clearForm();             
                              this.all();
                            })
                            }
                         else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                      ) {
                        swalWithBootstrapButtons.fire(
                          'Otkazano',
                          'Vaš tag je i dalje aktivan',
                          'info'
                        )
                      }
                    })
              
     
        },
        add(){
            if (this.edit === false) {
              let uri = '/api/tags/create';
              this.axios.post(uri, this.tag).then((response) => {
              this.clearForm();
               Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Novi tag je dodat!',
                              showConfirmButton: false,
                              timer: 1500
                            })
              this.all();

            });
           } else {
            // update 
             let uri = `/api/tags/update/${this.tag.id}`;
             this.axios.post(uri, this.tag).then((response) => {
             this.clearForm();
             Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Podaci o tagu su izmenjeni!',
                              showConfirmButton: false,
                              timer: 1500
                            })
             this.all();
             });
           }
        },
        editTag(tag){
        this.edit = true;
        this.tag.id = tag.id;
        this.tag.tag_id = tag.tag_id;
        this.tag.tag = tag.tag;
        },
        clearForm(){
        this.edit = false;
        this.tag.id = null;
        this.tag.tag_id = null;
        this.tag.tag = null;
        
       }

    }
  }</script>
