<template>
    <div>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		    <router-link :to="{ path: '/' }" class="navbar-brand">MDI Dashboard</router-link>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
           <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
           <!--      <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>   -->
            </form>  
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
			    <span v-if="isLoggedIn">						
				    <li class="nav-link">Hi, {{name}} </li>
				</span>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					    <router-link :to="{ name: 'login' }" class="dropdown-item" v-if="!isLoggedIn" @click.native="toggleNavbar()">Login</router-link>
						<router-link :to="{ name: 'register' }" class="dropdown-item" v-if="!isLoggedIn" @click.native="toggleNavbar()">Register</router-link>                                                
                        <a class="dropdown-item" v-if="isLoggedIn" @click="logout">Logout</a>						
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
							<router-link :to="{ path: '/' }" class="nav-link">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard</router-link>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                           
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>
                                Admin panel
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav  class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
								<div v-if="user_type == 1">
								    <router-link :to="{ path: 'sales' }" class="nav-link" @click.native="toggleNavbar()">Sales</router-link>	
									<router-link :to="{ path: 'orders' }" class="nav-link"  @click.native="toggleNavbar()">Orders</router-link>
									<router-link :to="{ path: 'products' }" class="nav-link"  @click.native="toggleNavbar()">Products</router-link>
									<router-link :to="{ path: 'users' }" class="nav-link"  @click.native="toggleNavbar()">Users</router-link>
									<router-link :to="{ path: 'categories' }" class="nav-link"  @click.native="toggleNavbar()">Categories</router-link>
									<router-link :to="{ path: 'brands' }" class="nav-link" @click.native="toggleNavbar()">Brands</router-link>
									<router-link :to="{ path: 'tags' }" class="nav-link"  @click.native="toggleNavbar()">Tags</router-link>
									<router-link :to="{ path: 'coupons' }" class="nav-link"  @click.native="toggleNavbar()">Coupons</router-link>
								</div>
								<div v-else>
								    Please log in as admin...
								
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                        >Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" :href="$router.resolve({name:'login'}).href" >Login</a></nav>
                                    </div>
                                 </div>   
                                </nav>
								
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
							
							<router-link :to="{ path: 'charts' }" class="nav-link proba">
                               <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>Charts
                            </router-link>
							<router-link :to="{ path: 'tables' }" class="nav-link" @click.native="toggleNavbar()">
								<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Tables
							</router-link>
                        </div>
                    </div>
                   
                </nav>
            </div> 
        <div id="layoutSidenav_content">
			   <main>
			       
				   <router-view @loggedIn="change" v-if="!$route.meta.keepAlive" ></router-view>
				   <keep-alive>
						<router-view @loggedIn="change" v-if="$route.meta.keepAlive" ></router-view>
					</keep-alive>  
			   </main>
		       <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; www.mdi.in.rs 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
		   </div>
		</div>
    </div>
</template>
<style scope>
</style>
<script>
  
	
	
    import { mapGetters, mapActions} from 'vuex';
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
    export default {
       
        data() {
		
            return {
			    image_src: '/uploads/products/',
                image_s: "uploads/img/logomdi1.png",
                show: false,
				activeComponent: null,
                name: null,
				search:'', 
                user_type: 0,
                isLoggedIn: localStorage.getItem('dashboard.mdi.in.rs.jwt') != null
            }
        },
		
		computed: {
		   
			filteredProducts: function () { 
				return this.products.filter((product) => {
					return product.name.toLowerCase().match(this.search)
				})
			},
			...mapGetters(['allLikes', 'allCart', 'userdata', 'allCategories', 'callMessage']),
			total() {
		return this.$store.getters.cardTotal
		    }
			}, 

        mounted() {
            this.setDefaults()
        },
        created() {
		   if (this.$route.name == 'category') {
				this.category(this.$route.params.id);
			}
			 },
        methods: {
		
		 Cart(like) {
			   this.$store.dispatch('Cart', like).then((response) => {
			   setTimeout(()=> {
			       this.onsuccess()
				   
                },1100) 
			
        
			   })},
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				},
			category(id) {
			  this.$store.dispatch('category', id);
			},
              homePage() { 
        if(this.$route.path == "/"  ) {
          return false
        } else {
          return true
        } 
      },
       
              toggleNavbar() {
      this.show = !this.show
    },   
            setDefaults() { 
			    if(localStorage.getItem('dashboard.mdi.in.rs.like') != null) {
			   
			} 
                if (this.isLoggedIn) {
                    let user = JSON.parse(localStorage.getItem('dashboard.mdi.in.rs.user'))
                    this.name = user.firstname
                    
                    
                    this.user_type = user.is_admin
                }
            },
            change() {
                this.isLoggedIn = localStorage.getItem('dashboard.mdi.in.rs.jwt') != null
                this.setDefaults()
            },
            logout(){
                localStorage.removeItem('dashboard.mdi.in.rs.jwt')
                localStorage.removeItem('dashboard.mdi.in.rs.user')
				this.user_type = 0
                this.change()
                this.$router.push('/')
            }
        }
    }
</script>
