<template>
	<div>
	 <div class="container-fluid">
	 
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">New users (Admin auth needed)</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
									    <router-link :to="{ path: 'users' }" class="small text-white stretched-link">View Details</router-link>                                        
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Low Stock Products</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <router-link :to="{ path: 'low-stock' }" class="small text-white stretched-link">View Details</router-link>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Sales</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" :href="$router.resolve({name:'sales'}).href" >View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Orders not delivered  (Admin auth needed)</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
									    <router-link :to="{ path: 'orders' }" class="small text-white stretched-link">View Details</router-link>                                        
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Donut Chart Example</div>
                                    <div class="card-body"></div>									
									<pie-chart :data="geodata" :donut="true" width="800px" height="480px" :legend="true"></pie-chart>
                                </div>
                            </div>
                            <div class="col-xl-6">
							 <div class="card mb-4">
							   <div class="card-header"><i class="fas fa-atlas mr-1"></i>Geographic Map of Website Users</div>
								<geo-chart :data="geodata" label="registered users" color="#FFA1B5" width="800px" height="520px"></geo-chart>
							  </div>
						    </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
                            <div class="card-body">
                               <b-row>




            <b-col lg="6" class="my-1">
                <b-form-group label="Filter"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="filterInput"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input v-model="filter"
                                      type="search"
                                      id="filterInput"
                                      placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

           

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="Per page"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="perPageSelect"
                              class="mb-0">
                    <b-form-select v-model="perPage"
                                   id="perPageSelect"
                                   size="sm"
                                   :options="pageOptions"></b-form-select>
                </b-form-group>


            </b-col>


        </b-row>

        <b-table show-empty
                 small
                 stacked="md"
                 striped hover
                 :items="useralls"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

            <template v-slot:cell(action)="row">
                <b-col>
                    <button class="p-btn" @click="editProduct(row.item)">Edit</button><br />
                    <!--    <b-button variant="primary" size="sm" @click="editProduct(row.item)" class="ml-3">
                    Edit
                </b-button> -->

                    <button class="p-btn" @click="deleteProduct(row.item.id)">
                        Delete
                    </button>
                </b-col>
            </template>
        </b-table>
		<div class="d-flex justify-content-center">
       
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="justify-content-center"></b-pagination>

       
</div>
                                
                            </div>
                        </div>
                    </div>
                </main>   
    </div>
</template>
<style scoped>
 .page-item.active .page-link {
    outline: none;
    background-color: #68A4C4 !important;
    
}
</style>
<script>
   
    import { mapGetters, mapActions } from "vuex";	
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'	
			
	export default {
			
		data() {
		
			return {
			    geo: [],
			    geodata: [],
			    useralls: [],
			    userall: {
				id: '',
				firstname: '',
				lastname: '',
				companyname: '',
				country: '',
				streetaddress: '',
				postcode: '',
				town: '',
				phone: '',
				email: ''
				
				},
			    loaded: false,
                fields: [
					{ key: 'firstname', label: 'Name', sortable: true, sortDirection: 'asc' },
					{ key: 'town', label: 'Town', sortable: true, sortDirection: 'asc' },
					{ key: 'country', label: 'Country', sortable: true, sortDirection: 'asc' }],
				
				totalRows: 1,
				currentPage: 1,
				perPage: 5,
				pageOptions: [5, 10, 15],
				sortBy: '',
				sortDesc: false,
				sortDirection: 'asc',
				filter: null,
				filterOn: [],
				autoComplete: '',
				
			    
			}
		},
		
		created() {
		
		
		},
			filters: {
			truncate: function (content, length, suffix) {
				return content.substring(0, length) + suffix;
			}
		},
		computed: {
		  
			  filteredItems() {
	  return this.autocompleteItems.filter(i => {
		return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
	  });
	},
			sortOptions() {
					// Create an options list from our fields
					return this.fields
					.filter(f => f.sortable)
					.map(f => {
						return { text: f.label, value: f.key }
					})
			  }
		},
		
		 mounted () {
				axios.get('/api/geo/',
				  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
			
			this.geo = response.data.chart
			let i = '';
			for(i in this.geo){
				  this.geodata.push(Object.values(this.geo[i]))
					  }					
			})
			
			axios.get('/api/usersall/',   {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
              this.useralls = response.data
			})
		    
		  },
		methods: {
		   ...mapActions(["start", "tagovi", "category", "notfilteredproducts"]),
		  
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				},
					onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}
		
		  }
		}
	
</script>
