<template>
	<div class="container">
	   
         <h1 class="mt-4 d-flex justify-content-center">Low Stock Products:</h1>                     
         <hr><br>
                   <table class="table table-hover table-dark">
					<thead>
						<tr>
                            <td>#</td>						
							<td>Product</td>                   
							<td>Available</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(product,index) in products" @key="index">
                            <td >{{product.id}}</td>						
							<td >{{product.name}}</td>                   
							<td >{{product.units}}</td>
						 </tr>
					</tbody>
			   </table>       
            
	 
    </div>
</template>
<style scoped>
  .table {width: 100%;}
</style>

<script>   
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'
    import { mapGetters, mapActions } from "vuex";
	export default {
		
		
		data() { 
		
			return {
              products: [],
              product: {
			   id: '',
			   name: '',
			   units: ''
			  }			  
			}
		},
	
		computed: {		   		
			...mapGetters([])					
		},
		 mounted () {		
			axios.get('/api/low-stock/',
			  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {			
			this.products = response.data.products
			
			  })								   
		  },
		methods: {
		   ...mapActions([]),
		  
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})			
			}		
		  }
		}
	
</script>
