<template>
	<div>
	 <div class="container-fluid">
                        <h1 class="mt-4">Sales</h1>
                      
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Inventories to Sales Ratio 2019</div>                                    
									<area-chart :data="chart" width="700px" height="440px"></area-chart>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Inventories to Sales Ratio 2019</div>
                                    <div class="card-body"></div>
									<chartbar></chartbar>
                                </div>
                            </div>
							 <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Categories by Percent of Items Sold</div>
                                    <div class="card-body"></div>
									<pie-chart :data="piedata"  width="800px" height="480px"></pie-chart>
                                </div>
                            </div>
							 
							
                        </div>
                        <div class="card mb-4">
						   
                            
                        </div>
                    </div>
                </main>   
    </div>
</template>
<style scoped> 
 
</style>

<script> 
    Chartkick.configure({language: "de", packages:['GeoChart'], mapsApiKey: "AIzaSyAjyRjV1yX0HyXjlSTXSkfiqvlCV31EyyI"})	  
    import chartbar from './charts/Bar.vue';
    import { mapGetters, mapActions } from "vuex";	
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'				
	export default {		
		components: { chartbar },
		data() { 
		
			return {			 	          
			  chartdata: [],
			  salespermonth: [],
              chart: [],
              uery: [], 
    	      pie: [],
			  piedata: []			  
				
			    
			}
		},		
		created() {},
		computed: {		   		
			...mapGetters([])					
		},
		 mounted () {
		    axios.get('/api/pie/',  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {			
			this.pie = response.data.chart
			let i = '';
			for(i in this.pie){
			this.piedata.push(Object.values(this.pie[i]))
			}
			})
			
			axios.get('/api/geo/',   {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
			
			this.geo = response.data.chart
			let i = '';
			for(i in this.geo){
				  this.geodata.push(Object.values(this.geo[i]))
					  }					
			})
		 
			axios.get('/api/sales/',  {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {			
			this.chart = response.data.chart
			
			  })
			
			
		   
		  },
		methods: {
		   ...mapActions([]),
		  
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				}
		
		  }
		}
	
</script>
