<template>
	<div>
	 <div class="container-fluid">
	 
                        <h1 class="mt-4">Table</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Table</li>
                        </ol>
                       
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
                            <div class="card-body">
                               <b-row>




            <b-col lg="6" class="my-1">
                <b-form-group label="Filter"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="filterInput"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input v-model="filter"
                                      type="search"
                                      id="filterInput"
                                      placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

           

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="Per page"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="perPageSelect"
                              class="mb-0">
                    <b-form-select v-model="perPage"
                                   id="perPageSelect"
                                   size="sm"
                                   :options="pageOptions"></b-form-select>
                </b-form-group>


            </b-col>


        </b-row>

        <b-table show-empty
                 small
				 class="table table-hover table-dark"
                 stacked="md"                 
                 :items="products"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

            <template v-slot:cell(category_id)="row">
                <div v-for="category in categories">
                    <div v-if="category.id === row.item.category_id">
                        {{category.kategorija}}
                    </div>
                </div>
            </template>
			<template v-slot:cell(brand_id)="row">
                <div v-for="brand in brands">
                    <div v-if="brand.id === row.item.brand_id">
                        {{brand.brand}}
                    </div>
                </div>
            </template>
        </b-table>
		<div class="d-flex justify-content-center">
       
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="justify-content-center"></b-pagination>

       
</div>
                                
                            </div>
                        </div>
                    </div>
                </main>   
    </div>
</template>
<style scoped>


</style>
<script>
   
    import { mapGetters, mapActions } from "vuex";	
	import Swal from 'sweetalert2/dist/sweetalert2.js'
	import 'sweetalert2/src/sweetalert2.scss'	
			
	export default {
			
		data() {
		
			return {
			    geo: [],
			    geodata: [],
			    products: [],
				categories: [],
                brands: [],
			    product: {
                    id: '',
                    name: '',
                    description: '',
                    category_id: null,                    
					brand_id: null,
					tag_id: null,
					size: null,
					color: null,
                    units: '',
                    price: '',                          
                },
				category: {
                    id: '',
                    kategorija: '',
                   
                },              
				 brand: { 
                    id: '',
                    brand: ''
                },
			    loaded: false,
                fields: [
				    { key: 'name', label: 'Name', sortable: true, sortDirection: 'asc'  },
                    { key: 'units', label: 'Units', sortable: true, sortDirection: 'asc' },
                    { key: 'price', label: 'Price', sortable: true, sortDirection: 'asc' },                  
                    { key: 'category_id', label: 'Category', sortable: true, sortDirection: 'asc' },                    
					{ key: 'brand_id', label: 'Brand', sortable: true, sortDirection: 'asc' },
					{ key: 'size', label: 'Size', sortable: true, sortDirection: 'asc' },
					{ key: 'color', label: 'Color', sortable: true, sortDirection: 'asc' }],
				
				totalRows: 1,
				currentPage: 1,
				perPage: 15,
				pageOptions: [10, 15, 25],
				sortBy: '',
				sortDesc: false,
				sortDirection: 'asc',
				filter: null,
				filterOn: [],
				autoComplete: '',
				
			    
			}
		},
		
		created() {
		
		
		},
			filters: {
			truncate: function (content, length, suffix) {
				return content.substring(0, length) + suffix;
			}
		},
		computed: {
		  
			  filteredItems() {
	  return this.autocompleteItems.filter(i => {
		return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
	  });
	},
			sortOptions() {
					// Create an options list from our fields
					return this.fields
					.filter(f => f.sortable)
					.map(f => {
						return { text: f.label, value: f.key }
					})
			  }
		},
		
		 mounted () {
			
			   axios.get('/api/products/',   {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {
                  this.products = response.data.product;  
				  this.brands = response.data.brands;
                  this.categories = response.data.cat;				  
                  this.totalRows = this.products.length
            })
		    
		  },
		methods: {
		   ...mapActions(["start", "tagovi", "category", "notfilteredproducts"]),
		  
				onsuccess(){
				
				Swal.fire({
				 
							  position: 'top-end',
							  icon: 'warning',
							  title: this.callMessage,
							  showConfirmButton: false,
							  timer: 1000
							})
			
				},
					onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}
		
		  }
		}
	
</script>
