 <template>
              <chart :chart-data="datacollection"></chart>
    </template>
    <script>
    import Chart from "./ChartBar.js";
    export default {
      components: {
       Chart
      },
      data() {
        return {
          datacollection: null
        };
      },
      mounted() {
	   axios.get('/api/usery/', {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
					}).then(response => {			
			this.chart = response.data.chart
			this.fillData();
			})	
      
      },
      methods: {
        fillData() {
          this.datacollection = {
            labels: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June", 
              "July",
              "August",
              "September",
              "October",
              "November",
              "December"
            ],

            datasets: [            
              {
                label: "Monthly sales 2019",
                 backgroundColor:[
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					'rgba(153, 102, 255, 0.6)',
					'rgba(255, 99, 132, 0.6)',
					'rgba(54, 162, 235, 0.6)',
					'rgba(255, 206, 86, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					'rgba(153, 102, 255, 0.6)',
					'rgba(75, 192, 192, 0.6)',
					'rgba(153, 102, 255, 0.6)'
				  ], 
                data: this.chart
              }
            ]
          };
        },
      }
    };
    </script>
    <style>
    </style>