 <template>
              <chart :chart-data="datacollection"></chart>
    </template>
    <script>
    import Chart from "./Pie.js";
    export default {
      components: {
       Chart
      },
      data() {
        return {
          datacollection: null
		  
        };
      },
      mounted() {
	   axios.get('/api/pie/').then(response => {			
			this.chart = response.data
			this.fillData();
			})	
      
      },
      methods: {
        fillData() {
		  let color = '';
		  let backgroundColors = [];
             for (var i = 0; i < this.chart.chart.length; i++) {
			 color = "rgba(" + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + "," + Math.floor(Math.random() * 255) + ",";
             backgroundColors.push(color + "0.2)");
           //  borderColor.push(color + "1)");
            };
          this.datacollection = {
            labels: this.chart.labels,
			
            datasets: [            
              {
                label: "Monthly sales 2019",
                backgroundColor: backgroundColors,				 				 				 
                data: this.chart.chart
              }
            ]
          };
        }
      }
    };
    </script>
    <style>
    </style>