 <template>
              <chart :chart-data="datacollection"></chart>
    </template>
    <script>
	import axios from 'axios';
    import Chart from "./Chart.js";
    export default {
      components: {
        Chart
      },
      data() {
        return {
          datacollection: null,
		   salespermonth: [],
           chart: []  
        };
      },
	   beforeMount() {
	   axios.get('/api/sales/').then(response => {
			this.salespermonth = response.data.salespermonth
			this.chart = response.data.chart
			this.fillData();
			})	
	   },
	  computed: {
	      
	  },
      mounted() {
        
		
		 
		    
		 
      },
      methods: {
        fillData() {
          this.datacollection = {
            labels: this.chart.datasets[0].labels,
            datasets: [ {
			  label: this.chart.datasets[0].name,
			  backgroundColor: "#B5CC11",
              data: this.chart.datasets[0].values
			  },
              {
                label: "Monthly incomes",
                backgroundColor: "#A5CC82",
                data: [205, 408, 188, 190, 58, 200, 190, 400, 164, 254, 290, 201]
              }
            ]
          };
        },
      }
    };
    </script>
    <style>
    </style>