<template>
    <div class="container" id="rout">
        <div class="row justify-content-center">
            <div class="col-md-8">
			<div class="alert-danger r text-center" v-if="error"><h3>{{error}}</h3></div>
                <div class="card card-default">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form @submit.prevent="handleSubmit">
             
							<div class="form-group row">
                                <label for="firstname" class="col-md-4 col-form-label text-md-right">First Name</label>
                                <div class="col-md-6">                                  		 
                                   		<input
									name="firstname"
									v-model="firstname"
									v-validate="'required'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('firstname')">
									 {{ errors.first('firstname') }}
									</div>				       
									</div>				
                                </div>
 
							<div class="form-group row">
                                <label for="lastname" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="lastname"
									v-model="lastname"
									v-validate="'required'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('lastname')">
									 {{ errors.first('lastname') }}
									</div>								       
									</div>				
                                </div>                                
								<div class="form-group row">
                                <label for="companyname" class="col-md-4 col-form-label text-md-right">Company Name</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="companyname"
									v-model="companyname"
									v-validate="'required'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('companyname')">
									 {{ errors.first('companyname') }}
									</div>				                  					       
									</div>				
                                </div>
								<div class="form-group row">
                                <label for="country" class="col-md-4 col-form-label text-md-right">Country</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="country"
									v-model="country"
									v-validate="'required'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('country')">
									 {{ errors.first('country') }}
									</div>										       
									</div>				
                                </div>
								<div class="form-group row">
                                <label for="streetaddress" class="col-md-4 col-form-label text-md-right">Street Address</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="streetaddress"
									v-model="streetaddress"
									v-validate="'required'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('streetaddress')">
									 {{ errors.first('streetaddress') }}
									</div>										       
									</div>				
                                </div>
								<div class="form-group row">
                                <label for="postcode" class="col-md-4 col-form-label text-md-right">Postcode / ZIP </label>
                                <div class="col-md-6">                                  		 
                               <input
									name="postcode"
									v-model="postcode"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="zip"
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('postcode')">
									 {{ errors.first('postcode') }}
									</div>									       
									</div>				
                                </div>
								<div class="form-group row">
                                <label for="town" class="col-md-4 col-form-label text-md-right">Town</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="town"
									v-model="town"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="town"
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('town')">
									 {{ errors.first('town') }}
									</div>								       
									</div>				
                                </div>
								<div class="form-group row">
                                <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                                <div class="col-md-6">                                  		 
                               <input
									name="phone"
									v-model="phone"
									v-validate="'required'"
									class="form-control"
									type="text"
									id="phone"
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('phone')">
									 {{ errors.first('phone') }}												
                                </div>                 							       
									</div>				
                                </div>
						
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                  		<input
									name="email"
									v-model="email"
									v-validate="'required|email'"
									class="form-control"
									type="text"
									
									>	
	                               <div class="help-block alert alert-danger"	                                    
									v-show="errors.has('email')">
									 {{ errors.first('email') }}
									</div>				
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input
									name="password"
									v-model.trim="password"
									v-validate="'min:6'"
									ref="password"
									class="form-control"
									type="password" />
									<div class="help-block alert alert-danger"	                                    
									v-show="errors.has('password')">
									 {{ errors.first('password') }}
									</div>	
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                <div class="col-md-6">
                                   <input
									name="password_confirmation"
									v-model.trim="password_confirmation"
									v-validate="'min:6|confirmed:password'"
									data-vv-as="password"
									class="form-control"
									type="password" />
									<div class="help-block alert alert-danger"	                                    
									v-show="errors.has('password_confirmation')">
									 {{ errors.first('password_confirmation') }}
									</div>	
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn-secondary"> 
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapGetters, mapActions } from "vuex";
    export default {
        props : ['nextUrl'],
        data(){
            return {

                firstname: "",
				lastname : "",
				companyname: "",
				country: "",
				streetaddress: "",
				postcode: "",
				town: "",
                email : "",
				phone: "",
                password : "",
                password_confirmation : "",
				error: ""
				
            }
        },
		computed: {
		...mapGetters(['allCart'])		
		
		},
        methods : {
		    User(user) {
			   
			   this.$store.dispatch('User', user);
			  
			},

            handleSubmit() {
			
            this.$validator.validateAll().then((result) => {
			    if (!result) {
							this.error = "Proverite da li ste uneli validne podatke!";
							return;
						   } 
                let firstname = this.firstname
				let lastname = this.lastname
                let companyname = this.companyname  
				let country = this.country
				let streetaddress = this.streetaddress
				let postcode = this.postcode
				let town = this.town
				let email = this.email
				let phone = this.phone
                let password = this.password                     
                axios.post('api/register', {firstname, lastname, companyname, country, streetaddress, postcode, town, email, phone, password}).then(response => {
                    let data = response.data
					this.User(data.user)
                    localStorage.setItem('dashboard.mdi.in.rs.user', JSON.stringify(data.user))
                    localStorage.setItem('dashboard.mdi.in.rs.jwt', data.token)
                    if (localStorage.getItem('dashboard.mdi.in.rs.jwt') != null) {
                        this.$emit('loggedIn')
                        let nextUrl = this.$route.params.nextUrl
                        this.$router.push((nextUrl != null ? nextUrl : '/'))
                    }
                })
              })
			}
        }
    }
</script>
